<div class="pt-16 pb-4 ml-4 text-white">
  <h1 class="text-4xl mb-6">利用規約</h1>

  <h2 class="text-3xl mt-8 mb-4">第1条（適用）</h2>
  <p class="mb-4">本規約は、ユーザーが「西成泥酔旅行」（以下「本サービス」といいます）を利用する際の条件を定めるものです。ユーザーは、本規約に同意した上で本サービスを利用するものとします。</p>

  <h2 class="text-3xl mt-8 mb-4">第2条（ユーザー登録）</h2>
  <ol class="list-decimal pl-6 mb-4">
    <li class="mb-2">ユーザーは、本サービスの利用にあたり、所定の方法によりユーザー登録を行う必要があります。</li>
    <li class="mb-2">当社は、以下のいずれかの事由があると判断した場合、利用登録の申請を承認しないことがあります。
      <ul class="list-disc pl-6 mt-2 mb-2">
        <li class="mb-1">虚偽の事項を届け出た場合</li>
        <li class="mb-1">本規約に違反したことがある者からの申請である場合</li>
        <li class="mb-1">その他、当社が利用登録を相当でないと判断した場合</li>
      </ul>
    </li>
  </ol>

  <h2 class="text-3xl mt-8 mb-4">第3条（ログイン情報の管理）</h2>
  <ol class="list-decimal pl-6 mb-4">
    <li class="mb-2">ユーザーは、自己の責任において、本サービスのログイン情報を適切に管理するものとします。</li>
    <li class="mb-2">当社は、ログイン情報が第三者によって使用されたことによって生じた損害につき、当社に故意又は重大な過失がある場合を除き、一切の責任を負いません。</li>
  </ol>

  <h2 class="text-3xl mt-8 mb-4">第4条（未成年による利用）</h2>
  <ol class="list-decimal pl-6 mb-4">
    <li class="mb-2">ユーザーが未成年である場合には、法定代理人の同意を得た上で、本サービスを利用してください。</li>
    <li class="mb-2">法定代理人の同意を得ずに本サービスのご利用を開始したユーザーが成年に達した場合、未成年者であった間の利用行為を追認したものとみなします。</li>
  </ol>

  <h2 class="text-3xl mt-8 mb-4">第5条（事業者提供コンテンツの利用）</h2>
  <ol class="list-decimal pl-6 mb-4">
    <li class="mb-2">当社は、ユーザーに対し、本サービスが提供するコンテンツについて、本サービスの利用範囲内における私的な利用を許諾します。</li>
    <li class="mb-2">有償コンテンツについては、当社が定める利用料金の支払が完了した場合に、本サービスの利用範囲内における私的な利用を許諾します。</li>
    <li class="mb-2">ユーザーが本サービスを利用する権利を失った場合、本サービスの一切のコンテンツの利用ができなくなることを、ユーザーは予め承諾するものとします。</li>
  </ol>

  <h2 class="text-3xl mt-8 mb-4">第6条（ユーザー提供コンテンツの取り扱い）</h2>
  <ol class="list-decimal pl-6 mb-4">
    <li class="mb-2">ユーザーは、ユーザーの投稿に含まれる情報を送信することについて適法な権利を有していることを保証します。</li>
    <li class="mb-2">ユーザーの投稿に関する著作権は、ユーザー自身に留保されます。ただし、当社は本サービスの提供、維持、改善又は本サービスのプロモーションに必要な範囲において、ユーザーの投稿を利用することができるものとします。</li>
  </ol>

  <h2 class="text-3xl mt-8 mb-4">第7条（投稿を禁止するコンテンツ）</h2>
  <p class="mb-4">ユーザーは、以下の内容を含むコンテンツを投稿してはなりません。</p>
  <ul class="list-disc pl-6 mb-4">
    <li class="mb-2">当社又は第三者の知的財産権、肖像権、プライバシー、名誉、その他の権利又は利益を侵害する情報</li>
    <li class="mb-2">わいせつな表現を含む情報</li>
    <li class="mb-2">自殺、自傷行為を誘引、勧誘又は助長する表現を含む情報</li>
    <li class="mb-2">その他当社が不適切と判断する情報</li>
  </ul>

  <h2 class="text-3xl mt-8 mb-4">第8条（禁止事項）</h2>
  <p class="mb-4">ユーザーは、以下の行為を行ってはなりません。</p>
  <ul class="list-disc pl-6 mb-4">
    <li class="mb-2">法令、裁判所の判決、決定若しくは命令、又は法令上拘束力のある行政措置に違反する行為</li>
    <li class="mb-2">犯罪行為に関連する行為</li>
    <li class="mb-2">当社や第三者の知的財産権を侵害する行為</li>
    <li class="mb-2">当社や第三者のサーバーまたはネットワークに過度の負担をかける行為</li>
    <li class="mb-2">不正アクセスをし、またはこれを試みる行為</li>
    <li class="mb-2">その他、当社が不適切と判断する行為</li>
  </ul>

  <h2 class="text-3xl mt-8 mb-4">第9条（免責）</h2>
  <ol class="list-decimal pl-6 mb-4">
    <li class="mb-2">当社は、本サービスに関してユーザーに生じたあらゆる損害について一切の責任を負いません。ただし、消費者契約法に定める消費者契約となる場合、この免責規定は適用されません。</li>
    <li class="mb-2">当社は、当社の過失（重過失を除きます）によってユーザーに生じた損害のうち特別の事情から生じた損害について、一切の責任を負いません。</li>
    <li class="mb-2">当社は、本サービスに関してユーザーが被った損害につき、当該損害が発生した月内にユーザーが当社に支払った利用料金を超えて賠償する責任を負わないものとします。</li>
  </ol>

  <h2 class="text-3xl mt-8 mb-4">第10条（一般条項）</h2>
  <ol class="list-decimal pl-6 mb-4">
    <li class="mb-2">本規約の準拠法は、日本法とします。</li>
    <li class="mb-2">本規約に関して紛争が生じた場合、当社の本店所在地を管轄する裁判所を専属的合意管轄とします。</li>
  </ol>

  <p class="mb-4">以上</p>
</div>
