<div class="bg-blue-500">
    <div class="h-screen bg-center bg-cover" style="background-image: url('<%= asset_path 'top.jpg' %>')">
        <div class="absolute left-4 top-80 text-white text-8xl font-bold p-4">Welcome to DEEP OSAKA</div>
    </div>
</div>