<h2 class="text-2xl font-bold mb-4">プロフィール</h2>
<p class="text-2xl my-4"><%= user.name %></p>
<p>
  <%= link_to '名前を編集', edit_profile_path, data: { turbo_frame: 'edit_profile' }, class: "bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
</p>