<%= link_to izakaya_path(favorites.izakaya) do %>
  <div class="m-4 p-4 rounded-lg shadow-md" style="background-image: url('<%= favorites.izakaya.image %>'); background-size: cover; background-position: center;">
    <h3 class="text-lg font-semibold text-white bg-slate-950 opacity-70"><%= favorites.izakaya.name %></h3>
  </div>
<% end %>