<div class="m-4 p-4 bg-gray-100 rounded-lg shadow-md">
  <h3 class="text-lg font-semibold"><%= favorites.izakaya.name %></h3>
  <%= link_to t('favorites.show'), izakaya_path(favorites.izakaya), class: 'bg-blue-500 hover:bg-blue-700 text-white py-1 px-4 rounded' %>
</div>