<%# TailwindCSSを使用してヘッダーにハンバーガーメニュー %>
<header class="bg-gray-800 fixed top-0 left-0 w-full z-10">
  <div class="flex items-center justify-between h-16">
    <div class="flex items-center">
      <a href="/" class="text-white text-2xl font-bold ml-4">西成泥酔旅行</a>
    </div>
    <div class="block">
      <button id="nav-toggle" class="flex items-center mx-2 px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
      <%= link_to 'Logout', logout_path, data: { turbo_method: :delete } %>
    </div>
  </div>
</header>