<div class="m-4 p-4 bg-gray-100 rounded-lg shadow-md">
  <h3 class="text-lg font-semibold"><%= plan.name %></h3>
  <%= link_to t('plans.show.show'), plan_path(plan), class: 'bg-blue-500 hover:bg-blue-700 text-white py-1 px-4 rounded' %>
</div>